---
- name: Clone pyenv
  ansible.builtin.git:
    repo: https://github.com/pyenv/pyenv.git
    dest: "{{ ansible_facts['env']['HOME'] }}/.pyenv"
    force: true
  notify: Notify updates of Python via Slack

- name: Set variables
  ansible.builtin.set_fact:
    pyenv_root: "{{ ansible_facts['env']['HOME'] }}/.pyenv"
    base_requirements: "{{ lookup('file', 'requirements.txt').split('\n') }}"

- name: Fetch the latest versions of Python
  ansible.builtin.script:
    cmd: >
      install_pyenv.sh --print-stable-versions 2
    executable: /bin/bash
  changed_when: false
  register: py_v
  failed_when: py_v.rc != 0

- name: Check if the latest versions are installed
  ansible.builtin.stat:
    path: "{{ pyenv_root }}/versions/{{ item }}/bin/python"
  loop: "{{ py_v.stdout_lines }}"
  register: py_x

- name: Set a list for new versions to install
  ansible.builtin.set_fact:
    new_v: "{{ py_x.results | selectattr('stat.exists', 'equalto', false) | map(attribute='item') | list }}"

- name: Install the latest versions of Python
  when: new_v | length > 0
  ansible.builtin.script:
    cmd: >
      install_pyenv.sh --skip-global {{ item }}
    executable: /bin/bash
  loop: "{{ new_v }}"
  notify: Notify updates of Python via Slack

- name: Set the latest version as the global version
  when: not py_x.results[0].stat.exists
  ansible.builtin.shell:
    cmd: >
      {{ ansible_facts['env']['HOME'] }}/.pyenv/bin/pyenv global {{ py_v.stdout_lines[0] }}
    executable: /bin/zsh
  changed_when: true
  notify: Notify updates of Python via Slack

- name: Ensure packaging is available for Ansible interpreter
  ansible.builtin.command:
    cmd: "{{ ansible_facts['python']['executable'] }} -m pip install --upgrade packaging"
  changed_when: false

- name: Install and update base packages
  ansible.builtin.pip:
    name: "{{ base_requirements }}"
    executable: "{{ pyenv_root }}/versions/{{ item }}/bin/pip"
    state: latest
  loop: "{{ py_v.stdout_lines }}"
  notify: Notify updates of Python via Slack

- name: Install and update packages
  when: pip_packages is defined
  ansible.builtin.pip:
    name: "{{ pip_packages }}"
    executable: "{{ pyenv_root }}/versions/{{ item }}/bin/pip"
    state: latest
  loop: "{{ py_v.stdout_lines }}"
  failed_when: false
  notify: Notify updates of Python via Slack
