---
- name: Set proxy at /etc/environment
  when: http_proxy is defined or https_proxy is defined
  become: true
  ansible.builtin.blockinfile:
    create: true
    dest: /etc/environment
    state: present
    block: |
      HTTP_PROXY={{ http_proxy }}
      HTTPS_PROXY={{ https_proxy }}
      NO_PROXY={{ no_proxy }}
      http_proxy={{ http_proxy }}
      https_proxy={{ https_proxy }}
      no_proxy={{ no_proxy }}
  notify: Notify updates of the system via Slack

- name: Set proxy at /etc/apt/apt.conf
  when: http_proxy is defined or https_proxy is defined
  become: true
  ansible.builtin.blockinfile:
    create: true
    dest: /etc/apt/apt.conf
    state: present
    block: |
      Acquire::http::proxy "{{ http_proxy }}";
      Acquire::https::proxy "{{ https_proxy }}";
  notify: Notify updates of the system via Slack

- name: Add %wheel
  when:
    - enable_nopass_sudo is defined
    - enable_nopass_sudo
  become: true
  ansible.builtin.group:
    name: wheel
    state: present
  notify: Notify updates of the system via Slack

- name: Write %wheel in /etc/sudoers
  when:
    - enable_nopass_sudo is defined
    - enable_nopass_sudo
  become: true
  ansible.builtin.blockinfile:
    dest: /etc/sudoers
    state: present
    block: |
      %wheel  ALL=(ALL)       NOPASSWD: ALL
    validate: 'visudo -cf %s'
  notify: Notify updates of the system via Slack

- name: Install required packages
  become: true
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
    update_cache: true
    name:
      - apt-transport-https
      - aptitude
      - ca-certificates
    state: latest
  notify: Notify updates of the system via Slack

- name: Upgrade all packages
  become: true
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
    upgrade: dist
    update_cache: true
  notify: Notify updates of the system via Slack

- name: Install packages
  when: apt_packages is defined
  become: true
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
    name: "{{ apt_packages }}"
    state: latest
  failed_when: false
  notify: Notify updates of the system via Slack

- name: Set users
  when: users is defined
  become: true
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: "{{ item.shell }}"
    groups: "{{ item.groups }}"
    append: true
  loop: "{{ users }}"
  notify: Notify updates of the system via Slack
