---
- name: Put ~/.vimrc
  ansible.builtin.copy:
    src: vimrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.vimrc"
  notify: Notify updates of Vim via Slack

- name: Check vim
  ansible.builtin.stat:
    path: "{{ ansible_facts['env']['HOME'] }}/.vim/bin/vim"
  register: vim_installed
  notify: Notify updates of Vim via Slack

- name: Create directories in ~/.vim/
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.vim/{{ item }}"
    state: directory
  loop:
    - src
    - bundles
  notify: Notify updates of Vim via Slack

- name: Clone install-latest-vim
  ansible.builtin.git:
    repo: https://github.com/dceoy/install-latest-vim.git
    dest: "{{ ansible_facts['env']['HOME'] }}/.vim/src/install-latest-vim"
  notify: Notify updates of Vim via Slack

- name: Install or update Vim and Vim plugins
  ansible.builtin.shell: |
    {{ ansible_facts['env']['HOME'] }}/.vim/src/install-latest-vim/install_latest_vim.sh --lua --vim-plug
  changed_when: true
  failed_when: false
  notify: Notify updates of Vim via Slack
