ansible-lint
csvkit
docopt
grip
jsonschema
jupyter
pandas
pip
pipx
poetry
polars
pynvim
pyright
pytest
pytest-mock
pytest-cov
pytest-xdist
ruff
typer
uv
vim-vint
vulture
yamllint
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
