ansible-lint
csvkit
docopt
grip
jsonschema
jupyter
pandas
pip
pipx
poetry
polars
pynvim
pyright
pytest
pytest-mock
pytest-cov
pytest-xdist
ruff
typer
uv
vim-vint
vulture
yamllint
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
