---
- name: Set variables
  ansible.builtin.set_fact:
    path: "{{ ansible_facts['env']['PATH'] }}:/usr/local/bin"

- name: Check gem command
  environment:
    PATH: "{{ path }}"
  ansible.builtin.shell: |
    gem --version
  changed_when: false
  failed_when: false

- name: Update packages
  environment:
    PATH: "{{ path }}"
  ansible.builtin.shell: |
    gem update --no-document
  failed_when: false
  notify: Notify updates of Ruby via Slack

- name: Install and update Ruby packages
  when: gem_packages is defined
  environment:
    PATH: "{{ path }}"
  community.general.gem:
    name: "{{ item }}"
    executable: gem
    state: latest
  loop: "{{ gem_packages }}"
  failed_when: false
  notify: Notify updates of Ruby via Slack
